*{margin:0 auto;}
body{
}
.container{width: 1200px;
height:;
background: ;
 overflow: hidden;
 }
.contentbox{
	width: 33.33%;
    float:left;
    height: 150px;
    padding:15PX;
    box-sizing:border-box;

  
  
}
.contentbox h2{}
.contentbox p{}
.contentbox div{background-color:#6D6E6A;
padding:15px}
.gallary-section{padding: 100px 0px;
	margin:50px;
    background-color: #DEE1E6;
    width: ;
}
.gallary{ width:33.33%;
float:left; 
box-sizing:border-box;
padding: 10px;
}
.gallary img {max-width:100%;
padding: 15px; }